
*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box;
}

/* ==========================================================================
   Base
   ========================================================================== */

html {
  font-family: 'Work Sans', Segoe, Tahoma, sans-serif;
  background-color: white;
  text-size-adjust: 100%;
  font-size: 1rem;
  -webkit-font-smoothing: auto !important;
  letter-spacing: 0.01em;
  line-height: 1.625;
}

body {
	margin: 0;
	/**
   * Root em units
   *
   * A root unit (rem) unit is relative to the root font size,
   * wheras an em unit is relative to it's parent.
   *
   * Ex: root font size = 16px
   *     1.75rem        = 28px
   */
	/*font-size: 1rem;*/
}

figure {
  margin: 0 0 5px 0;
}



/* ==========================================================================
   Layout
   ========================================================================== */

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;

}

/*HEADER************/

.header {
  width: 100%;
  margin-bottom: 2.2rem;
  /*display: flex;*/
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
}


@media (max-width: 840px) {
  a.header__logo {
    /*margin: 10px auto;*/
    padding-top: 20px;
  }
}


.header__nav {
    margin: 0px;

}
.header__links{
  padding-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  flex-grow: 1;
  height: 40px;
 
}
.header__link{
  height: 40px;
  /*border: black 1px solid;*/
  border-radius: 10px;
  /*box-shadow: 0 2px #999;*/
  font-weight: bold;
  padding: 5px;
}
.header__link:hover{
  transition: 0.3s;
  background-color: rgb(236, 225, 237);
  color:rgba(0, 0, 0, 0.85)

}
.header__welcome{
  font-family: Snell Roundhand, cursive;
  font-size: 30px;
}

.nav__sidenav {
  /*Flex*/
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 /* justify-content: center;*/
}

ul.nav__sidenav.nav--right {
    padding-left: 0;
}

.nav__sidenav a {
  margin: 0;
  text-decoration: none;
  text-align: center;

  display: block;
  /*padding: 1em; */
  /*flex*/
  flex-grow: 1;
}

.nav__sidenav a:hover {
  opacity: .5;
}
.hero__image{
  width: 50%;
  padding: 1%;
  margin-right: 5%;
  height: 50%;
  border: solid rgba(21, 14, 21, 0.1) 5px;


}
.hero__image2{
  width: 50%;
  padding: 1%;
  margin-right: 2%;
  height: 50%;



}

@media (min-width: 840px) {
  a#nav-bag {
    padding-right: 0;
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-page-featured {
  flex: 1 1 70%;
}

.home-side-col {
  flex: 1 1 30%;
}
.home-page-featured-column {
  display: flex;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.footer {
  border-top: 5px solid #000;
  width: 100%;
  padding: 30px 0 40px;
}

.site-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu-footer-links {
  display: flex;
  flex-wrap: wrap;
}

.menu-footer-links__column {
  flex: 1;
}

.menu-footer-links__column:not(:first-child) {
  margin-left: 3em;
}


.menu-footer-links__column a {
  display: block;
  white-space:nowrap;
}

.site-footer__social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
}

.site-footer__social a:not(:first-child) {
  padding-left: 2em;
}
@media (max-width: 705px) {
  .site-footer__social {
    margin: 2em auto;
  }
}
/* ==========================================================================
   Typography
   ========================================================================== */

* {
  color: rgba(0, 0, 0, 0.85);
}

h1, h2, h3, p{
 font-weight: 500;
}

h1 {
  line-height: 2.38rem;
  font-size: 2rem;
}

h1 > a {
  text-decoration: none;
}

.menu-footer-links__column a {
  text-decoration: none !important;
}

h2 {
  line-height: 1.75rem;
  font-size: 1.75rem;
}

/*MORE INFO*/
h5 {
  font-size: 1rem;
  line-height: 1.3rem;
}

.post-date {
  margin: 0 0 5px 0;
  font-size: .81rem;
  line-height: .9rem;
  font-weight: 400;
}

.post-title {
  font-size: 1.75rem;
}

.post-category {
  font-size: .75rem;
}

.post__top-image img {
  width: 100%;
  height: auto;
}

.post-featured {
  border-bottom: 5px solid #000;
}

.post__text {
  text-align: center
}

.excerpt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
}

/*STYLES*/




/* ==========================================================================
   THEME
   ========================================================================== */
img {
  /*-webkit-transform: translateZ(0);
  -moz-transform: rotate(0);*/
  margin: 10px;
}

img:hover {
  opacity: .95;
  transition: opacity .6s ease-out;
  /*border: 1px solid transparent;*/
}


.home-page-featured-column .post {
  margin: 1em;
  margin-top: 1.7em;
  border-bottom: 5px solid;
}

p.post-link-more {
  margin: 40px 0 50px 0;
  text-decoration: none;
}

.sidebar-list {
  list-style-type: none;
  /*margin: 0px;
  padding: 0px;*/
  margin-top: 0;
  padding: 0 1em 1em;
  padding-right: 0;
}

@media (max-width: 461px) {
  .sidebar-list {
    padding: 0 0 1em;
  }
}

.sidebar-list__item {
  border-top: 5px solid black;
}

.sidebar-list__label {
  font-weight: 500;
  margin: 5px 0 18px 0;
}

.sidebar-list__image {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}


.home-more-button {
  width: 100%;
  text-align: center;
  padding: 3.1em 0 2.8em;
}


.button-main {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #fff;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
}

.button-main:hover {
  border-color: #000;
  transition-duration: 400ms;
}

.slider {
  margin: 40px 0 50px;
  width: 100%;
}

.slider__title {
  text-align: center;
}

.slider__button {
  border: none;
  background: white;
}

.shop {
  display: flex;
  width: 100%;
}

.shop-list__item {
  padding: .3em;
}

.shop-list__item img {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .hide-2 {
    display: none;
  }
}

@media (max-width: 500px) {
  .hide-1 {
    display: none;
  }
}
.footer__logo{
  padding-left: 25%;
  padding-top: 3%;
}