{% load static %}
<!DOCTYPE html>
<!--HTML-->
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="description">
      <meta content="" name="keywords">
      <!--CSS FILE-->
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap' >
      <link href="https://res.cloudinary.com/madeleinesalondecoiffure/raw/upload/v1627629656/styles_x8qgif.css"  rel="stylesheet"  >
      <style> 
        ul.nav__sidenav.nav--right {
          background-color: #EBC3C2;
          min-height: 410px;
        }
        header__links{background-color: #EBC3C2;}
        </style>
</head>
    <!--BODY-->
  <body class="container">
    <!-- HEADER NAV -->
    <header class="header">
      <nav class="header__nav">
            <ul class="nav__sidenav nav--right">
          <li><a href="/" class="header__logo"> <img   class='header__img' src="https://www.dropbox.com/s/s0kwmwkhw4dm8ee/verticalheadcrest.svg?raw=1" alt="" /></a></li>
            <div class="header__links">
          <li class="header__link"><a href="about" >About</a></li>
          <li class="header__link"><a href="clients" >Clients</a></li>
          <li class="header__link"><a href="calendar" >Book</a></li>
          <li class="header__link"><a href="contact" >Contact Us</a></li>
{% if user.is_authenticated%}
          <li class="header__link"><a href="profile" >My Profile</a></li>
          <li class="header__link"><a href="logout" >Logout</a></li>
{% else%}
          <li class="header__link"><a href="register" >Create Account</a></li>
          <li><a href="login" class="header__link">Login</a></li>
{% endif %}
          <li class="header__link hide-3"><a href="calendar" id="nav-bag" ><img src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715814/shopping_bag_cuw7pb.svg" alt="shopping" /></a></li>
        </div>
{% if user.is_authenticated%}
        <p class="header__welcome hide-3">Bonjour {{user.username}} ! Welcome to Madeleine Salon de Coiffure</p>
{% else%}
        <p class="header__welcome hide-3">Bonjour! Welcome to Madeleine Salon de Coiffure</p>
{% endif %}
        </ul>
      </nav>
  </header>
  <br>
  <!--MAIN-->
      <main class="main">
        <section class="featured emblem">
            <!-- HERO -->
            <article class="sector sector-featured">
              <div class="sector-card">
                  <div class="sector__text">
                    <a href="#" class=""><img class="hero__image hide-3"src="https://data.whicdn.com/images/322920296/original.jpg" alt="" /></a><br>
                    <h6 class="sector-date">07.15.21</h6>
                    <h3 class="sector-category">Madeleine salon de coiffure !!!</h3>
                    <h1 class="sector-title"><a href="#">Salon and Spa propose une tarification à plusieurs niveaux pour s'adapter à un large éventail de goûts et de styles.</a></h1>
                    <p class="excerpt">notre engagement a été de vous aider à découvrir et à maintenir votre beauté naturelle en intégrant vos goûts personnels et votre style de vie. Nous écoutons vos besoins et vous fournissons de beaux résultats fonctionnels pour vos cheveux, votre peau et vos ongles. Nous proposons une multitude de services de salon de coiffure et de spa de luxe, notamment des massages professionnels, des soins du visage au spa, des soins du corps, des traitements de lissage à la kératine, des colorations et des mèches, des extensions de cheveux, des manucures et pédicures de spa et plus encore..</p>
                    <p class="sector-link-more"><a href="#">MORE</a></p>
                  </div>
              </div>
            </article>
            <div class="featured-column">
              <article class="sector">
                <!-- FACIALS -->
                  <div class="sector-card">
                      <h4 class="sidebar-list__label">FACIALS</h4>
                      <a href="#"><img class="sidebar-list__image"src='https://www.dropbox.com/s/mpvbxqkngde3323/facials.png?raw=1' alt="Facial" /></a>
                      <h6 class="sector-date">07.15.21</h6>
                    <div class="sector__text">
                        <h1 class="sector-title"><a href="#">Le sauna facial ultime</a></h1>
                        <p class="excerpt">J'aime apprendre les différentes gammes et systèmes de couleurs, et travailler en tant que spécialiste de la couleur est devenu ma passion ! Le flamboyage et le balayage sont deux de mes techniques d'application préférées ; J'aime aussi faire des couleurs à la mode, des corrections de couleurs et donner à mes clients un tout nouveau look avec des coupes de cheveux transformatrices.</p>
                        <p class="sector-link-more"><a href="#">MORE</a></p>
                    </div>
                  </div>
              </article> 
              <!-- LASHES -->
              <article class="sector">
                  <div class="sector-card">
                      <h4 class="sidebar-list__label">LASHES</h4>
                      <img  class="sidebar-list__image" src="https://www.dropbox.com/s/lddmhone4d2i0p2/lashes.png?raw=1" width="256" height="256" alt="" />   
                      <h6 class="sector-date">07.15.21</h6>
                      <div class="sector__text">
                          <h1 class="sector-title"><a href="#">Quel est le bon look</a></h1>
                          <p class="excerpt">Lorsqu'il s'agit de choisir une crème contour des yeux anti-âge, les possibilités sont infinies. Les choix vont des marques de grands magasins haut de gamme aux marques abordables et peuvent être trouvés dans toutes les formes, tailles et formes. Vous pouvez donc imaginer cela. Le est rendu.</p>
                          <p class="sector-link-more"><a href="#">MORE</a></p>
                      </div>
                  </div>
              </article>
            </div>
        </section>
        <!-- ASIDE -->
        <aside class="home-side-col emblem">
            <ul class="sidebar-list"> <br>
            <!-- HAIRCUT -->
              <li class="sidebar-list__item">
                  <h4 class="sidebar-list__label">HAIRCUT</h4>
                  <a href="#"><img class="sidebar-list__image" src= "https://i.pinimg.com/280x280_RS/07/30/dd/0730ddd87b1406eef15f331ed869d123.jpg" width="256" height="256" alt="" /> </a>
                  <span></span>
              </li>
              <!-- HAIRDYE -->
              <li class="sidebar-list__item">
                  <h4 class="sidebar-list__label">HAIRDYE</h4>
                  <a href="#"><img class="sidebar-list__image" src="https://www.dropbox.com/s/8m1yd3e958c9ic2/skeletoncrest.svg?raw=1" width="256" height="256" alt="" /></a>
                  <span></span>
              </li>
              <!-- MAKEUP -->
              <li class="sidebar-list__item">
                  <h4 class="sidebar-list__label">MAKEUP</h4>
                  <a href="#"><img class="sidebar-list__image" src="https://www.dropbox.com/s/onefrk6h3j6hwlx/makeup.png?raw=1" width="256" height="256" alt="" /></a>
                  <span></span>
              </li>
              <!-- NAILS-->
              <li class="sidebar-list__item">
                  <h4 class="sidebar-list__label">NAILS</h4>
                  <a href="#"><img class="sidebar-list__image" src="https://www.dropbox.com/s/h9vfqn5d13j6bfb/crosswalk.png?raw=1" width="256" height="256" alt="" /> </a>
                  <span></span>
              </li>
              <!-- ABOUT-->
              <li class="sidebar-list__item">
                <h4 class="sidebar-list__label"> ABOUT</h4>
                <img  class="sidebar-list__image" src="https://www.dropbox.com/s/l3e0ac2epoyp5ms/madeleineprofile.png?raw=1"width="256" height="256" alt="" />
                <li class="sidebar-list__item"></li>
                <h1 class="sector-title"><a href="#">A propos de Madeleine Dupont </a></h1>
                <p class="excerpt">Je coiffe depuis 7 ans et je suis chez Julie depuis 4 ans. J'ai fait mes études à l'Académie Gene Juarez. J'aime faire toutes sortes de couleurs, mais les reflets et le balayage sont mes préférés. Quand je ne travaille pas, j'aime aller au parc canin avec mes deux chiens, passer du temps avec ma famille et aller à l'apéritif avec mes amis.</p>
            </li>
            <p class="sector-link-more"><a href="#">MORE</a></p>
              <li class="sidebar-list__item"></li>
            </ul>
        </aside>
      <!--SLIDER-->
      <div class="home-more-button"><button class="button-main">Voir plus</button></div>
      <div class="slider">
        <h2 class="slider__title">nos produits</h2>
        <div class="shop-list">
            <div class="shop">
              <button class="slider__button"type="button" name="button"><img src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715813/arrow_left_h5ibyg.svg" alt=""/></button>
              <div class="shop-list__item hide-1">
                  <a href="#"><img src="https://joannarahier.com/wp-content/uploads/2019/12/9975D03D-7737-4028-9DD8-868A2A479608.jpeg" width="290" height="256" alt=""/></a>
              </div>
              <div class="shop-list__item">
                  <a href="#"><img src="https://www.dropbox.com/s/d93nevlx5vutvtj/victorian.svg?raw=1" alt="" /></a>
              </div>
              <div class="shop-list__item hide-2"> 
                  <a href="#"><img src="https://i.pinimg.com/originals/a6/60/de/a660de8214bd7792233656f75751463c.jpg" width="290" height="256" alt=""></a>
              </div>
              <button class="slider__button" type="button" name="button"></button>
            </div>
        </div>
      </div>
      </main>
      <!--FOOTER-->
      <footer class="footer">
            <ul class="footer__text">
                  <div class="footer__column">
                    <li class='footer__text       '> <a href="#" class="footer__link">À propos de nous </a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">Politique de confidentialité</a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">Termes et conditions </a></li>
                  </div>
                  <div class="footer__column ">
                    <li class='footer__text top   '><a href="#"  class="footer__link"> Madeleine Dupont</a></li>
                    <li class='footer__text center'> <a href="#" class="footer__link">madeleinesalondecoiffure@gmail.com</a></li>
                    <li class='footer__text center'> <a href="#" class="footer__link"> © 2021, Madeleine Salon de Coiffure</a></li>
                  </div>
                  <div class="footer__column">
                    <li class='footer__text top  '> <a href="#"  class="footer__link"> Contactez-nous</a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">2206 N Alder St </a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">Tacoma WA 98406</a></li>
                  </div>
            </ul>
            <div class='footer__imgcontainer'> <a class="" href="/"><img class='footer__logo' src="https://www.dropbox.com/s/8m1yd3e958c9ic2/skeletoncrest.svg?raw=1" alt="" /></a></div>
        <div class="footer__social">
            <a class="" href="https://www.facebook.com/madeleine.beach.3"><img class="footer__icon" src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715813/facebook_eknuzn.svg" alt="facebook" /></a>
            <a class="" href="https://twitter.com/madecoiffure"><img class="footer__icon" src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715814/twitter_nfohqw.svg" alt="twitter" /></a>
            <a class="" href="https://www.instagram.com/madeleinebeachh/"><img class="footer__icon" src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715814/instagram_u4wt1i.svg" alt="instagram" /></a>
            <a class="" href="https://pin.it/5qgAohs"><img class="footer__icon" src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715814/pinterest_vtom0c.svg" alt="pinterest" /></a>
        </div>
      </footer>
    </body>
</html>