{% load static %}
<!DOCTYPE html>
<!--HTML-->
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="description">
      <meta content="" name="keywords">
      <!--CSS FILE-->
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap' >
      <link href="https://res.cloudinary.com/madeleinesalondecoiffure/raw/upload/v1627629656/styles_x8qgif.css"  rel="stylesheet"  >
      <style>
       ul.nav__sidenav.nav--right {
                background-color: #EBC3C2;
                min-height: 410px;
        }</style>
</head>
    <!--BODY-->
  <body class="container">
    <!-- HEADER NAV -->
    <header class="header">
      <nav class="header__nav">
            <ul class="nav__sidenav nav--right">
          <li><a href="/" class="header__logo"> <img   class='header__img' src="https://res.cloudinary.com/madeleinesalondecoiffure/image/upload/v1627668649/verticalheadcrest_zegh6d.svg" alt="" /></a></li>
            <div class="header__links">
          <li class="header__link"><a href="about" >About</a></li>
          <li class="header__link"><a href="clients" >Clients</a></li>
          <li class="header__link"><a href="calendar" >Book</a></li>
          <li class="header__link"><a href="contact" >Contact Us</a></li>
{% if user.is_authenticated%}
          <li class="header__link"><a href="profile" >My Profile</a></li>
          <li class="header__link"><a href="logout" >Logout</a></li>
{% else%}
          <li class="header__link"><a href="register" >Create Account</a></li>
          <li><a href="login" class="header__link">Login</a></li>
{% endif %}
          <li class="header__link hide-3"><a href="#" id="nav-bag" ><img src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715814/shopping_bag_cuw7pb.svg" alt="shopping" /></a></li>
        </div>
{% if user.is_authenticated%}
        <p class="header__welcome hide-3">Bonjour {{user.username}} ! Welcome to Madeleine Salon de Coiffure</p>
{% else%}
        <p class="header__welcome hide-3">Bonjour! Welcome to Madeleine Salon de Coiffure</p>
{% endif %}
        </ul>
      </nav>
  </header>
  <br>
  <br>
  <!--MAIN-->
      <main class="main">
      <center>
    <h1 class="header__welcome">{{user.username}} </h1>
    <h2>You have no appointments scheduled with Salon de Madeleine </h2>
    <a href="book">schedule</a>
    <h2>Profile Information: </h2>
    <h2>{{user.username}}  </h2>
      <h2>{{user.email}}  </h2>
      <h2>Update Info?</h2>
</center>
    </main>
      <br><br>
          <!--FOOTER-->
      <footer class="footer">
            <ul class="footer__text">
                  <div class="footer__column">
                    <li class='footer__text       '> <a href="#" class="footer__link">À propos de nous </a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">Politique de confidentialité</a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">Termes et conditions </a></li>
                  </div>
                  <div class="footer__column ">
                    <li class='footer__text top   '><a href="#"  class="footer__link"> Madeleine Dupont</a></li>
                    <li class='footer__text center'> <a href="#" class="footer__link">madeleinesalondecoiffure@gmail.com</a></li>
                    <li class='footer__text center'> <a href="#" class="footer__link"> © 2021, Madeleine Salon de Coiffure</a></li>
                  </div>
                  <div class="footer__column">
                    <li class='footer__text top  '> <a href="#"  class="footer__link"> Contactez-nous</a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">2206 N Alder St </a></li>
                    <li class='footer__text       '> <a href="#" class="footer__link">Tacoma WA 98406</a></li>
                  </div>
            </ul>
            <div class='footer__imgcontainer'> <a class="" href="/"><img class='footer__logo' src="https://res.cloudinary.com/madeleinesalondecoiffure/image/upload/v1627668880/skeletoncrest_t9zecb.svg" alt="" /></a></div>
        <div class="footer__social">
            <a class="" href="https://www.facebook.com/madeleine.beach.3"><img class="footer__icon" src="https://res.cloudinary.com/madeleinesalondecoiffure/image/upload/v1627669349/facebook_eknuzn_drzww6.svg" alt="facebook" /></a>
            <a class="" href="https://twitter.com/madecoiffure"><img class="footer__icon" src="https://res.cloudinary.com/madeleinesalondecoiffure/image/upload/v1627669267/twitter_nfohqw_wdseyj.svg" alt="twitter" /></a>
            <a class="" href="https://www.instagram.com/madeleinebeachh/"><img class="footer__icon" src="https://res.cloudinary.com/madeleinesalondecoiffure/image/upload/v1627669343/instagram_u4wt1i_br0ox6.svg" alt="instagram" /></a>
            <a class="" href="https://pin.it/5qgAohs"><img class="footer__icon" src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715814/pinterest_vtom0c.svg" alt="pinterest" /></a>
        </div>
      </footer>
  </body>
</html>