{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="description">
      <meta content="" name="keywords">
      <!-- CSS File -->
      <link href=" {% static "/styles.css" %}"  rel="stylesheet"  >
</head>
<body class="container">
  <header class="header">
      <nav class="header__nav">
        <ul class="nav__sidenav nav--right">
          <li><a href="/" class="header__logo">  <img  src="{% static "assets/verticalheadcrest.svg" %}" alt="" /> </a></li>
          <div class="header__links">
          <li class="header__link"><a href="#about" >About</a></li>
          <li class="header__link"><a href="clients" >Clients</a></li>
          <li class="header__link"><a href="form" >Book an Appointment</a></li>
          <li class="header__link"><a href="#" >Contact Us</a></li>
{% if user.is_authenticated%}
          <li class="header__link"><a href="profile" >My Profile</a></li>
          <li class="header__link"><a href="logout" >Logout</a></li>
{% else%}
          <li class="header__link"><a href="register" >Create Account</a></li>
          <li><a href="login" class="header__link">Login</a></li>
{% endif %}
          <li class="header__link"><a href="#" id="nav-bag" ><img src="https://res.cloudinary.com/dmoo9az8w/image/upload/v1475715814/shopping_bag_cuw7pb.svg" alt="shopping" /></a></li>
        </div>
{% if user.is_authenticated%}
          <p class="header__welcome">Bonjour {{user.username}} ! Welcome to Madeleine Salon de Coiffure</p>
{% else%}
          <p class="header__welcome">Bonjour! Welcome to Madeleine Salon de Coiffure</p>
{% endif %}
        </ul>
      </nav>
  </header>
  <main>
        <h1>Sign Up below</h1><style>h3{color: red}</style>
{% for message in messages %} 
        <h3> {{message}}</h3>
{% endfor %}
        <form method='POST' action="register">
{% csrf_token %}
          <p> Username: </p>
          <input type='text' name='username'></input>
          <p> Email: </p>
          <input type='email' name='email'></input>
          <p> Password: </p>
          <input type='password' name='password'></input>
          <p> Repeat Password: </p>
          <input type='password' name='password2'></input><br>
          <input type='submit'></input>
        </form>
      </main>
    </body>
</html>